{% extends "main/credential_layout.html" %}
{% block header_link %}
<link rel="stylesheet" type="text/css" href="../../static/css/credential_layout.css">
{% endblock %}
{% block form_layout %}
<form method='POST' class='form-dsgn'>
    <div class="form-group">
        <div class='col-xs-offset-2 col-xs-8 form-header-light text-center'>Login to continue:</div>
        <div class='col-xs-offset-2 col-xs-8 form-header-heavy text-center'>Diagnostics</div>
    </div>
    <div class='form-group'>
        <input type="text" name='username' placeholder="Username" class="form-control">
    </div>
    <div class='form-group'>
        <input type="password" name='password' placeholder="Password" class="form-control">
    </div>
    <div class='form-group'>
        <button class='form-control btn-dsgn' type='submit'>Login</button>
    </div>
    <div class='form-group'>
        <span class='form-footer-light'>Don't have an account? <a href="/register" target="_self">SignUp for an account.</a></span>
    </div>
</form>
{% endblock %}