{% extends "main/credential_layout.html" %}
{% block header_link %}
<link rel="stylesheet" type="text/css" href="../../static/css/credential_layout.css">
{% endblock %}
{% block form_layout %}
<form method='POST' class='form-dsgn-rgst'>
    <div class="form-group">
        <div class='col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-10 form-header-light text-center'>Create your account:</div>
        <div class='col-xs-offset-2 col-xs-8 form-header-heavy text-center'>Diagnostics</div>
    </div>
    <div class='form-group'>
        <input type="text" name="firsname" class="form-control" placeholder="Firstname">
    </div>
    <div class='form-group'>
        <input type="text" name="lastname" class="form-control" placeholder="Lastname">
    </div>
    <div class='form-group'>
        <input type="text" name='username' placeholder="Username" class="form-control">
    </div>
    <div class='form-group'>
        <input type="email" name='email' placeholder="Email" class="form-control">
    </div>
    <div class='form-group'>
        <input type="password" name='password' placeholder="Password" class="form-control">
    </div>
    <div class='form-group'>
        <input type="password" name='confirm' placeholder="Confirm Password" class="form-control">
    </div>
    <div class='form-group'>
        <button class='form-control btn-dsgn' type='submit'>Register</button>
    </div>
    <div class='form-group'>
        <span class='form-footer-light'>Already have an account? <a href="/login" target="_self">Login.</a></span>
    </div>
</form>
{% endblock %}