@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #e6e4e4;
}

.side-bar-wrapper {
  width: 20%;
}

.side-bar {
  width: 100%;
  height: 100vh;
  background-color: #272727;
}

.side-bar .ham {
  width: 100%;
  padding: 10px;
}

.side-bar .hamburger {
  display: block;
}

.side-bar .hamburger .toggle-hamburger {
  background-color: rgba(221, 221, 221, 0.89);
  width: 18px;
  height: 2px;
  margin: 3px;
}

.side-bar .profile-section {
  width: 40%;
  left: 30%;
  position: relative;
}

.username {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 18px;
  color: white;
  position: relative;
  top: 60%;
}

.nav-table, tr, td {
  width: 80%;
  margin: auto;
}

.nav-table .nav-options, tr .nav-options, td .nav-options {
  list-style-type: none;
  padding: 12px;
}

.nav-table .nav-options span, .nav-table .nav-options i, tr .nav-options span, tr .nav-options i, td .nav-options span, td .nav-options i {
  padding-right: 5px;
  color: white;
}

.nav-table .nav-options .nav-links, tr .nav-options .nav-links, td .nav-options .nav-links {
  color: #afafaf;
  text-decoration: none;
}

tr:hover {
  background-color: #0052cc;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

tr:hover .nav-options .nav-links {
  color: white;
}

.main-dash-wrapper {
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
}

.main-dash-wrapper .navbar {
  border-radius: 0;
}

.main-dash-wrapper .nav-dsgn {
  background-color: white;
}

.nav-style {
  font-family: 'Poppins',sans-serif;
  color: #272727;
}

a:hover {
  background-color: transparent;
  color: #0052cc;
}

.nav > li > a:link {
  color: #525252;
}

.nav > li > a:visited {
  color: #525252;
}

.nav > li > a:hover {
  background-color: transparent;
  color: #0052cc;
}

.dash-data {
  width: 90%;
  margin: auto;
}

.dash-data .row {
  height: 45vh;
}

.dash-data .row .sec-a {
  padding-left: 0;
}

.dash-data .row .sec-a .sec-a-wrapper {
  width: 98%;
  height: 38vh;
  background-color: white;
  padding-left: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

.dash-data .row .sec-b {
  height: 38vh;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

.dash-data .row .sec-c {
  height: 38vh;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

.section-heading {
  padding: 3% 0% 3% 3%;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  color: #0052cc;
}
/*# sourceMappingURL=dash.css.map */