@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    width:100%;
    height:100vh;
    margin:0;
    background-color: rgb(230, 228, 228);
}


//SECTION LEFT
.side-bar-wrapper{
    width:20%;
}
.side-bar{
    width:100%;
    height:100vh;
    background-color: rgb(39, 39, 39);
    .ham{
        width:100%;
        padding:10px;
    }
    .hamburger{
        display:block;
        .toggle-hamburger{
            background-color: rgba(221, 221, 221, 0.89);
            width:18px;
            height:2px;
            margin:3px;
        }
    }
    .profile-section{
        width:40%;
        left:30%;
        position: relative;
    }
}
.username{
    font-family:'Roboto';
    font-weight:normal;
    font-size:18px;
    color:white;
    position:relative;
    top:60%;
}
.nav-table,tr,td{
    width:80%;
    margin: auto;
    .nav-options{
        list-style-type: none;
        padding:12px;
        span,i{
            padding-right: 5px;
            color: white;
        }
        .nav-links{
            color:rgb(175, 175, 175);
            text-decoration: none;
        }
    }
}
tr:hover{
    background-color: rgb(0, 82, 204);
    transition:0.2s ease-in;
    .nav-options .nav-links{
        color:white;
    }
}


//SECTION RIGHT
.main-dash-wrapper{
    width:80%;
    position: absolute;
    right:0;
    top:0;
    .navbar{
        border-radius: 0;
    }
    .nav-dsgn{
        background-color: white;
    }
}
.nav-style{
    font-family: 'Poppins',sans-serif;
    color:rgb(39, 39, 39);
}
a:hover{
    background-color: transparent;
    color:rgb(0, 82, 204);
}
.nav > li > a:link{
    color:rgb(82, 82, 82);
}
.nav > li > a:visited{
    color:rgb(82, 82, 82);
}
.nav > li > a:hover{
    background-color: transparent;
    color:rgb(0, 82, 204);
}
.dash-data{
    width:90%;
    margin:auto;
    .row{
        height:45vh;
        .sec-a{
            padding-left: 0;
            .sec-a-wrapper{
                width:98%;
                height:38vh;
                background-color: white;
                padding-left: 0;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
            }
        }
        .sec-b{
            height:38vh;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
        }
        .sec-c{
            height:38vh;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
        }
    }
}
.section-heading{
    padding:3% 0% 3% 3%;
    font-family:'Roboto';
    font-size: 18px;
    font-weight: 300;
    color:rgb(0, 82, 204);
}
