*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets/image1.jpg);
    background-position: centre;
    background-size: cover;
    position: absolute;
}

.formbox{
    width: 380px;
    height: 420px;
    position: relative;
    margin: 6% auto;
    background: #E0FFFF;
    padding: 5px;
    overflow: hidden;
}

.buttonbox{
    width: 210px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 5px #3090C7;
    border-radius: 30px;

}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #3b5998, #87ceeb);
    border-radius: 30px;
    transition: .5s;
}

.inputgroup{
    top: 100px;
    position: absolute;
    width: 320px;
    transition: 0.5s; 
}

.inputfield{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submitbtn{
    width: 60%;
    padding: 10px 30px;
    display: block;
    cursor: pointer;
    margin: auto;
    background: linear-gradient(to right, #3b5998, #87ceeb);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.checkbox{
    margin: 30px 10px 30px 0;
}

.forgot{
    text-align: center;
    
}

.span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#loginn{
    left:35px;
}

#signupp{
    left: 450px;
}



























