@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

@import url(//fonts.googleapis.com/css?family=Lato:300:400);
body {
  margin: 0;
  background-color: rgb(206, 202, 202);
}
h1 {
    font-family: 'Merriweather', serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}
h2 {
    font-family: 'Courgette', cursive;
  }
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}
a{
    color: royalblue !important;
    font-family: 'Sanchez', serif;
}
.navbar{
    background-color: white !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
    box-shadow: 0px 7px 7px rgb(179, 178, 178);
}
.navbar .navbar-brand{
    font-size: 35px !important;
    font-family: 'Lobster', cursive;
}
.navbar .navbar-nav{
    font-size: 20px;
}
.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  color: white;
}
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  /*Flexbox for containers*/
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
.why-us{
    padding: 10% 2.5% 10% 2.5%;
    justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}